.header{
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 5%;
}

.container-note {
  display: flex;
  flex-direction: column;
  background-color: #fff0b2;
  margin: 20px;
  padding: 1em;
}
