@media (min-width: 760px) {
  .all-container {
    height: 100%;
    margin: 0;
    background-image: url('/img/background.svg');
    /* background-repeat: no-repeat;
    background-size: cover; */
  }
  
  .header{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 10%
  }

  .container-note {
    display: grid;
    grid-template-columns: 90% 10%;
    flex-direction: column;
    background-color: #fbf6e1;
    margin: 20px;
    padding: 1em;
    scroll-behavior: smooth;
  }

  .title {
    grid-column: 1/2;
    margin: 0;
    justify-content: flex-start;
  }

  .title p {
    margin: 0;
  }

  .content {
    grid-row: 2/3;
    margin: 0;
    background-color: transparent;
    border: none;
  }

  .bi {
    margin-left: 80%;
  }
}

@media screen and (min-width: 1000px) {

  .all-container {
    height: 100%;
    margin: 0;
    background-image: url('/img/background-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


}