@media (min-width: 961px) {
  .h1 {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    display: flex;
    align-items: center;
    font-size: 60px;
  }
  
  .titulo {
    background-color: #ffcc00;
    margin: 30%;
    width: 12%;
  }
  
  .login-btn {
    display: flex;
    padding: 10px;
    font-size: 18px;
    margin: 40%;
    border: none;
    color: rgb(0, 0, 0);
  }
  
  .login-google {
    background-color: #ffcc00;
  }
}
